<h3>Your time is ticking:<%= Time.now %></h3>
<p>We are Berlins most famous bike shop. Come around and see our spectecular variety of different bikes. We can promise you, you won't be disappointed!</p>
