// Place all the styles related to the simple-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: serif;
  font-size: 4em;
  text-align: center;
  padding-top: 60px;
}

.site-footer {
  background: orange;
}

p {
  font-family: serif;
  font-size: 2em;
  text-align: center;
  padding-top: 60px;
}

h3 {
  padding-top: 60px;
  font-family: serif;
  font-size: 2em;

}
